/* You can add global styles to this file, and also import other style files */
html {
    font-family: monospace;
    margin-top: 15%;
}

button {
    padding: 15px;
    background-color: #bbbbbb;
    color: beige;
    border: none;
    border-radius: 5px;
}